<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="header">
    <div class="header_information">
        <div class="header_information_inner">
            <h1>Volunteer</h1>
            <p>The Carleton Computer Science Society is looking for volunteers to help with our summer projects.</p>
            <div class="header_information_buttons">
                <a href="#positions"><button class="button button_black">Positions</button></a>
                <button class="button button_black button_space_margin">About</button>
            </div>
        </div>
    </div>
    <div class="header_animation">
        <lottie-player src="/lottie/image.json" background="transparent"  speed="1"  loop autoplay></lottie-player>
    </div>
</div>