<!-- Primary Meta Tags -->
<title>Volunteer with the CCSS</title>
<meta name="title" content="Volunteer with the CCSS">
<meta name="description" content="The Carleton Computer Science Society is looking for volunteers to help with our summer projects.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://volunteer.carletoncomputersciencesociety.ca/">
<meta property="og:title" content="Volunteer with the CCSS">
<meta property="og:description" content="The Carleton Computer Science Society is looking for volunteers to help with our summer projects.">
<meta property="og:image" content="https://i.imgur.com/7dwNLPP.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://matthewmacraebovell.com/">
<meta property="twitter:title" content="Volunteer with the CCSS">
<meta property="twitter:description" content="Matthew MacRae-Bovell's personal website.">
<meta property="twitter:image" content="https://i.imgur.com/7dwNLPP.png">

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="header">
    <div class="header_information">
        <a href="https://ccss.carleton.ca/"><img class="header_logo" src="images/logo.png"></a>
        <div class="header_information_inner">
            <h1>Volunteer</h1>
            <p>The Carleton Computer Science Society is looking for volunteers to help with our summer projects.</p>
            <div class="header_information_buttons">
                <a href="#positions">
                    {{- partial "components/button.html" (dict "label" "Positions")}}
                </a>
                <a href="https://ccss.carleton.ca/" class="right_button">
                    {{- partial "components/button.html" (dict "label" "About")  }}
                </a>
            </div>
        </div>
        <div class="header_offset"></div>
    </div>
    <div class="header_animation">
        <lottie-player src="/lottie/image.json" background="transparent"  speed="1"  loop autoplay></lottie-player>
    </div>
</div>
