.button
    padding: 0.5rem 2rem
    background-color: #00000000
    font-family: var(--title-font)
    font-size: 16px
    cursor: pointer
    
    &_black
        background-color: black
        border: 1px solid white
        color: white
        box-shadow: inset 0px 0px 0px white
        transition: all 0.5s !important

        &:hover
            color: black
            box-shadow: inset 0px -80px 0px white
            

    &_white
        background-color: white
        border: 1px solid black
        color: black
        box-shadow: inset 0px 0px 0px black
        transition: all 0.5s !important

        &:hover
            color: white
            box-shadow: inset 0px -80px 0px black
