<div class="footer">
    <a href="https://ccss.carleton.ca/"><img src="/images/logo.png"></a>
    <p>© 2021 Carleton Computer Science Society</p>
    <div id="logos">
        <a href="https://www.facebook.com/CarletonComputerScienceSociety"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/carletoncss/"><i class="fab fa-instagram"></i></a>
        <a href="https://carletoncss.slack.com/signup"><i class="fab fa-slack"></i></a>
        <a href="https://discord.gg/fvdmVyZbJx"><i class="fab fa-discord"></i></a>
        <a href="https://twitter.com/carletoncss"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/CarletonComputerScienceSociety"><i class="fab fa-github"></i></a>
    </div>
</div>

{{- $mainScriptPath := "js/index.js" }}
{{- $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

{{- $bundle := slice $main }}
{{- if site.Params.Staticman }}
{{- $bundle = slice $main }}
{{- end }}
{{- $bundle =  $bundle | resources.Concat "js/bundle.js" | resources.Fingerprint "sha512" -}}

<script type="text/javascript" src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>
